.all {
  justify-content: center;
}

.allMenu {
  display: none;
  
  
  
}

.imageMenu{
  
  align-items:center;
  justify-content: center;
  background-color: var(--iceWhite-);
  border-style:hidden;
  font-family: Dancing, cursive;
  margin: 1.8rem auto 0 auto;
  font-size: 1.4rem;
  font-weight:bold;
  color: var(--itemBlue-);
  border-style:solid;
  border-width: 1.8px;
  border-radius: 0.4rem;
 


  
}

.imageMenu:hover {
  background-color: rgb(235, 235, 245);
  cursor: pointer;
}


.menuMenu {
  
  border-radius: 0.7rem;
}

.active {
  padding: 2rem;
  border-radius: 0.8rem;
  font-weight: bold;
  font-family:Dancing, cursive;
  text-decoration: none;
  font-size: 1rem;
  color: var(--itemBlue-);
  display: block;
  justify-content: center;
  border-bottom-style:solid;
  height: 1vh;
  visibility: visible;
}

.logo {
  width: 10rem;
  height: 11rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.6rem;
  display: block;
  align-items: flex-start;
  
  
}

.menu {
  background-color: var(--iceWhite);
  justify-content: center;
  text-align: center;
  align-items: center;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-around;
  
  
}

.menuitem {
  padding: 2rem;
  border-radius: 0.8rem;
  font-weight: bold;
  font-family:Dancing, cursive;
  text-decoration: none;
  font-size: 0.9rem;
  color: var(--itemBlue-);
  text-transform: uppercase;
  display: block;
  justify-content: center;
  border-bottom-style:solid;
}

.menuitem:hover {
  background-color: rgb(205, 205, 212);
  transition-duration: 1s;
}



@media (max-width: 600px) {

  .allMenu{
    
    display: block;
    justify-content: center;
    align-items: center;
    
    

   
  }



  .menu {
    width: 100%;
    flex-direction: column;

  
  }

  

  .logo {
    width: 9rem;
    height: 10rem;
    margin-top: 2rem;
    margin-bottom: 0;
    
  }

  .menuitem {
    padding: 0rem;
    border-bottom-style:solid;
    display: block;
    font-size: 0.7rem; 
    height: 0;
    visibility:hidden;
    margin: 0 0 -400px 0;
    
    
  
  }


}


@media (max-width: 800px) {

  /* .imageMenu{
   display:none;
 }  */

 .menuitem {
  font-size: 0.2rem;
  padding: 0.5rem;
  border-bottom-style:solid;

}

}
@media (max-width: 1440px) {

   /* .imageMenu{
    display:none;
  }  */



  .menu {
    width: 100%;

    /* flex-direction: column; */
    
  }

  .menuitem {
    font-size: 0.7rem;
    padding: 1rem;
    border-bottom-style:solid;
    
    
   }
}

