@import url('https://fonts.googleapis.com/css2?family=Allison&family=Dancing+Script&display=swap');

.allBody {
  justify-content: center;
  padding: 0 4.2rem;
}

.banner {
  
  justify-content: center;
  display: flex;
  
}

.bannerPage {
  
  width: clamp(320px, 100%, 100%);
  margin: 2.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

}

.diferencial {
  background-color: var(--menuitem2-);
  border-radius: 0.5rem;
  font-family: Dancing Script, cursive;
  padding: 0.5rem 1rem;
  /* width: clamp(100%, 100%, 40%); */
  text-align:justify;
  font-size: clamp(1rem, 1.6rem, 2.7rem); 
  color: var(--descritpion);
  justify-content: center;
}

.diferencial:hover{
  color: var(--bubbleBlue-);
}


.qualities {
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 auto;
  background-color: var(--menuitem2-);
  border-radius: 0.7rem;
  
  

}
.svgs {
  width: 3rem;
  height: 3rem;
}

.titles {
text-align: center;
display: flex;
justify-content: center;
color: var(--itemBlue-);
font-size: clamp(1.8rem, 2.0rem, 3rem);
font-family: Dancing Script,cursive;
border-top-style: solid;
}

.informations {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--itemBlue-);
  font-size: clamp(0.7rem, 1.3rem, 1.7rem);
  margin: 2rem;
  
}


.descriptions {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: clamp(1.0rem, 1.5rem, 1.5rem);
  text-align: justify;
  justify-content: center;
  color: var(--descriptionGray);
  list-style-type: disclosure-closed;
  justify-content: center;
  
  
  
}

.descriptions:hover{
  color: var(--bubbleBlue-);
}

.images {
  width: 10rem;
  height: 10rem;
  padding: 0.5rem;
  border-radius: 50%;
  margin: 0 0.5rem;
  justify-content: space-around;
  position: relative;
  
  
}

.containerGeral{
  text-align: center;
  justify-content: center;
  
}

.containerpicsp {

  align-items: center;
  text-align: justify;
  justify-content:center;

  padding: 0.5rem;
  display: flex;
 

  
}



.descriptions0{
  
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: clamp(0.5rem, 1.5rem, 1.5rem);
  text-align: center;
  color: var(--descriptionGray);
  list-style-type: disclosure-closed;
  justify-content: space-around;
  align-items: center;
  padding: 8rem auto;
  display: flex;
}



.descriptions0:hover{
  color: var(--bubbleBlue-);
}

.descriptionAreas {
 padding: 1rem 4rem;
}

.areas {
  
 display: flex;
 justify-content: space-around;
  padding: 1rem 0;
  align-items: center;
  
}

.descriptions2 {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: clamp(1.0rem, 1.5rem, 1.5rem);
  text-align: justify;
  color: var(--descriptionGray);
  list-style-type: disclosure-closed;
  
}

.descriptions2:hover{
  color: var(--bubbleBlue-);
}

.fotoFlavia {
  width: clamp(10rem, 20rem, 20rem);
  height: 25rem;
 
}

.curriculum {
  display: flex;
  align-items: center;
  justify-content: justify;
}

.map {
  margin: 0;
  justify-content: center;
  width: 500px;
  height: 400px;
}

.centralMap{
  justify-content: center;
  text-align: center;
}

@media (max-width: 320px) {

  .allBody {
    justify-content: center;
    padding: 0 1.8rem;
  }

  .map {
    margin: 0;
    justify-content: center;
    width: 300px;
    height: 200px;
  }
  

}


@media (max-width: 600px) {
  
   .allBody {
    justify-content: center;
    padding: 0 1.8rem;
  }
  
  .curriculum {
    display:block;
    align-items: center;
    
  }
 
  .map {
    margin: 0;
    justify-content: center;
    width: 300px;
    height: 250px;
  }

  .images {
    width: 3rem;
    height: 3rem;
    margin: 1rem 1.6rem;
    border-radius: 50%;
    flex-direction: row;
    
   
   
  }
  
  .imagesRow {
    display: flex;
  }

  .container {

   align-items: center;

   
  }

  .descriptions0 {
    display: block;
   
  }



 .descriptions2{
   padding: 0.5rem 0.5rem;
 }
}



@media (max-width: 800px) {
  .menu {
    width: 100%;

    /* flex-direction: column; */
    
  }

  .menuitem {
    font-size: 0.7rem;
    padding: 1rem;
    border-bottom-style:solid;
    
    
   }

   .descriptionAreas {
    padding: 1rem 1rem;
   }

   /* .container {
   display: flex;
    
    
   } */
}

@media (min-width: 1024px) {

  .allBody {
    justify-content: center;
    padding: 0 10rem;
  }


  .descriptionAreas {
    padding: 1rem 3.75rem;
   }
  /* .container {
    display: flex;
     
     
    } */
}

@media (max-width: 1024px) {



  .descriptionAreas {
    padding: 1rem 1rem;
   }
  /* .container {
    display: flex;
     
     
    } */
}

@media (min-width: 1440px) {

  .allBody {
    justify-content: center;
    padding: 0 10rem;
  }


  .descriptionAreas {
    padding: 1rem 4.25rem;
   }
  /* .container {
    display: flex;
     
     
    } */
}


@media (min-width: 1740px) {

  .allBody {
    justify-content: center;
    padding: 0 10rem;
  }


  .descriptionAreas {
    padding: 1rem 7.25rem;
   }
  /* .container {
    display: flex;
     
     
    } */
}


@media (min-width: 2560px) {

  .allBody {
    justify-content: center;
    padding: 0 10rem;
  }


  .descriptionAreas {
    padding: 1rem 12.25rem;
   }
  /* .container {
    display: flex;
     
     
    } */
}
